.small-card-container{
    position: relative;
    width: 22rem;
    height: 32rem;
    background-color: red;
}
.small-card-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 22rem;
    height: 16rem;
    background-color: yellow;
    overflow: hidden;
}
.small-card-details{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 22rem;
    height: 16rem;
    background-color: white;
}
.small-card-title{
    display: flex;
    align-items: center;
    // margin-top: 1rem;
    flex-direction: column;
    margin-left: 2rem;
    h1{
        color: black;
        font-size: xx-large;
        font-weight: bolder;
        // margin: 2rem;
    }
    .small-break{
        width: 55%;
        height: 2px;
        background: #070000;
        margin: 1rem;
    }
}
.small-card-techs{
    display: flex;
    justify-content: center;
    gap: 1rem;
    .small-card-tech{
        background-color: gray;
        display: inline-block;
        border-radius: 2rem;
        padding: 0.1rem;
    }
}

.small-card-details-bottom{
    position: absolute;
    bottom: 0;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    .small-button{
        margin: 1rem;
    }
    .small-card-details-button{
        color: black;
        font-size: 1rem;
        font-weight: bold;
    }
    .small-break{
        width: 100%;
        height: 1px;
        background: #070000;
        // margin: 1rem;
    }
}
.small-github-link{
    color: black;
    cursor: pointer;
}
.small-card-preview{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    margin-right: 2rem;
}