.services{
    // justify-content: center;
    // text-align: center;
    margin: 10rem;
}
.services-heading-details{
    margin-left: 5rem;
}

.services-cards{
    margin-top: 5rem;
}
 .services-heading{
    font-size: 2rem;
  }
  .services-subheading{
    font-size: 3.5rem;
  }

  .service-cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;
    grid-gap: 2rem;
  }
  
  @media (max-width: 768px) {
    .service-cards-grid {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (max-width: 500px) {
    .service-cards-grid {
      grid-template-columns: 1fr;
    }
  }
  // section{
  //   padding: 50px 0;
  // }
  #horizontal{
    padding: 100px 0;
  }
  .horizontal_content{
    display: flex;
  }
  .horizontal_item{
    border: 1px solid #efefef;
    padding: 200px 150px;
  }
  .horizontal_item:not(:last-child){
    margin-right: 50px;
  }
  .horizontal_num{
    font-size: 80px;
    font-weight: 900;
    font-stretch: condensed;
    color: #ff98a2;
  }
