.medium-card-container{
    position: relative;
    width: 28rem;
    height: 32rem;
    background-color: red;
    
}
.medium-card-details{
    position: absolute;
    left: 0;
    bottom: -5rem;
    width: 20rem;
    height: 27rem;
    background-color: #fff;
   
}
.medium-card-title{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    flex-direction: column;
    h1{
        color: black;
        font-size: xx-large;
        font-weight: bolder;
        margin: 2rem;
    }
    .medium-break{
        width: 55%;
        height: 2px;
        background: #070000;
        margin: 1rem;
    }
}
.medium-card-techs{
    display: flex;
    justify-content: center;
    gap: 1rem;
    .medium-card-tech{
        background-color: gray;
        display: inline-block;
        border-radius: 2rem;
        padding: 0.1rem;
    }
}

.medium-card-details-bottom{
    position: absolute;
    bottom: 0;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    .medium-button{
        margin: 1rem;
    }
    .medium-card-details-button{
        color: black;
        font-size: 1rem;
        font-weight: bold;
    }
    .medium-break{
        width: 100%;
        height: 1px;
        background: #070000;
        // margin: 1rem;
    }
}
.medium-card-image{
    position: relative;
    width: 28rem;
    height: 32rem;
    // background-color: yellow;
    // z-index: 2;
    top: 0;
    right: 0;
    overflow: hidden;
    inset: 0;
    // border: 2px solid pink;
}
.medium-card-image img{
    object-fit: cover;
}
.medium-github-link{
    color: black;
    cursor: pointer;
}
.medium-preview{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    margin-right: 2rem;
}