
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    justify-items: center;
   
}
body{
    // background-color: #07070bea;
    color: lightgrey;
}
section{
    // height: 100vh;
    // scroll-snap-align: center;
    margin: 0;
    
}
.home-page{
    // margin-top: 50px;
    //  position: absolute;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.service{
    position: relative;
    z-index: 1;
    background-color: black;
    display: flex;
    margin-top: -5rem;
    border-radius: 5rem;
}
.projects, .skills{
    background-color: black;
}
.projects{
    padding: 0;
}