.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    z-index: 20;
    position: absolute;

    // its the nav bar
    .nav{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 8rem;
        background-color: transparent;


        .nav-links{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            z-index: 20;

            .nav-links-container
            {
                display: flex;
                background-color: white;
                width: 5rem;
                height: 17rem;
                padding: 0;
                justify-content: center;
                justify-items: center;
                // align-items: center;
                border-radius: 5%;
               
                .nav-links-item{
                    background-color: black;
                    height: 3rem;
                    width: 3rem;
                    border-radius: 20%;
                    // display: flex;
                    // justify-content: center;
                    // justify-items: center;
                    align-items: center;
                    a{
                        font-size: 20rem;
                    }
                }
               
            }

           
        }
    }
    //nav bar circle button
    .toggle-btn{
        width: 60px;
        height: 60px;
        border-radius: 60%;
        position: fixed;
        top: 27px;
        left: 39px;
        background-color: white;
        border: none;
        cursor: pointer;

        .toggle-btn-line{
            position: absolute;
            left: 1.2rem;
            bottom: 1.2rem;
        }
    }
}